---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Hey, I'm Nils 👋</h1>
      <p>
        Welcome to my blog! I'm a web developer from hamburg that writes about
        web development with react.
      </p>
      <h2>What I Do</h2>

      <ul>
        <li>React – Building dynamic, component-driven interfaces.</li>
        <li>MapLibre – Crafting interactive map experiences.</li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
